.banner {
  background-image: url('img/bg-banner.jpg');
  background-size: cover;
  padding-top: 13%;
  background-position: center;
  padding-bottom: 13%;
  color: #fff;
}

.crop-img {
  object-fit: cover;
}

a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #333;
  line-height: 40px;
}

.client img {
  height: auto;
  max-height: 50px;
}

.contact {
  padding-bottom: 20%;
  padding-top: 20%;
}

.pme {
  text-align: justify;
}

.caption {
  text-align: justify;
}

/*  */

.social {
  display: flex;
  text-decoration: none;
}

.social i {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: 22px 10px;
  color: white;
  font-size: 40px;
}

.tools {
  display: flex;
}

.tools i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 2px solid rgb(247, 126, 33);
  border-radius: 15%;
  margin: 22px 10px;
  color: rgb(250, 194, 19);
  font-size: 25px;
}

.tools .html5:hover {
  background-color: #e34f26;
  border: none;
  color: white;
  transition: ease 0.8s;
}

.tools .css:hover {
  background-color: #264de4;
  border: none;
  color: white;
  transition: ease 0.8s;
}

.tools .figma:hover {
  background-color: #353535;
  border: none;
  color: white;
  transition: ease 0.8s;
}

.tools .bootstrap:hover {
  background-color: #563d7c;
  border: none;
  color: white;
  transition: ease 0.8s;
}

.tools .js:hover {
  background-color: #fff6bd;
  border: none;
  transition: ease 0.8s;
}

.tools .react:hover {
  background-color: #82aae3;
  border: none;
  color: white;
  transition: ease 0.8s;
}

body {
  padding-top: 3.5rem;
}

.about .container h2 {
  padding-top: 60px;
}

@media (max-width: 992px) {
  .about .container .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
